@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Poppins:wght@300;400;500&family=Righteous&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

body {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1366px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.counter {
    width: 40%;
}

.counter h1{
    margin-top: 4rem;
    font-size: 3rem;
    color: var(--purple)
}

table {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
   
}

thead {
    font-size: 1rem;
    color: var(--light-grey);
    font-style: inherit;
    text-align: center;
}


tbody {
    font-size: 4.5rem;
    text-align: center;
    color: var(--black);
}

small {
    color: var(--light-grey)
}


.banner {
    margin-top: 4rem;
}

.button {
    margin-top: 3rem;
}

button {
    padding: 0.9rem 3.5rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--purple);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8883e4;
}

/*Modal ========= */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
}

/*Form ========= */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


footer {
    position: absolute;
    bottom: 0;
}
